1)REVERSE THE STATEMENT

In [9]:
s="Welcome to Super30".split()
n=""
for i in s[::-1]:
  n+=i+" "
res=n[:-1]
print(res)

Super30 to Welcome

2)square of a numbers in range

In [11]:
start=int(input("start:"))
stop=int(input("stop:"))
for i in range(start,stop):
  print(i**2)

start:5
stop:10
25
36
49
64
81