<a href="https://colab.research.google.com/github/sandhya544/Coding/blob/master/python_s30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)REVERSE THE STATEMENT

In [ ]:
s="Welcome to Super30".split()
n=""
for i in s[::-1]:
  n+=i+" "
res=n[:-1]
print(res)

Super30 to Welcome

2)square of a numbers in range

In [ ]:
start=int(input("start:"))
stop=int(input("stop:"))
for i in range(start,stop):
  print(i**2)

start:5
stop:10
25
36
49
64
81

You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order, and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.
Input: l1 = [2,4,3], l2 = [5,6,4]
Output: [7,0,8]
Explanation: 342 + 465 = 807.
Example 2:

Input: l1 = [0], l2 = [0]
Output: [0]

In [ ]:
l1=[9,9,9,9,9,9,9]
l2=[9,9,9,9]
s1=""
s2=""
for i in range(len(l1)):
    s1+=str(l1[i])
for i in range(len(l2)):
    s2+=str(l2[i])
sum=int(s1)+int(s2)
s=str(sum)
l=[]
for i in s:
    l.append(int(i))
l.reverse()
print(l)

[8, 9, 9, 9, 0, 0, 0, 1]

In [3]:
n1="11"
n2="124"
n1=int(n1)
n2=int(n2)
res=n1+n2
print(str(res))

135

missing number in a list

In [5]:
l1=[1,0,3]
k=0
for i in range(len(l1)+1):
  if i not in l1:
    k+=i
print(k)

2

happy number
n=19
1**2+9**2=82
8**2+2**2=68
6**2+8**2=100
1**2+0**2+0**2=1

In [15]:
n=int(input())
s=0
while(n>5):
  s=0
  while(n!=0):
    rem=n%10
    s=s+rem**2
    n=n//10
  n=s
if s==1:
  print("Happy number")
else:
  print("Not a happy number")

19
Happy number